.iconsText .icon .camera{
  background-image: url("../Assets/images/camera.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconsText .icon>div {
  height: 2em;
  width: 2em;
}

.iconsText .row{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 1em;
}

.iconsText p{
  margin-top: 0;
  margin-left: 1em;
}


.iconsText{
  width: 40em;
}
