.default-block-size {
    height: calc(100vh);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.color-red{
    color: #ff1616;
}

.color-white{
    color: white;
}

.text-center{
    text-align: center;
}

.background-block{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 110px;
    padding-left: 200px;
    padding-right: 200px;
}

.grassetto{
    font-weight: bold;
}

.display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.title{
    font-size: 52px;
}

.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.geneic-block .textContainer{
    width: 80%;
}

.btnPrenota {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPrenota p {
    background-color: #ff1616;
    padding: 10px;
    border-radius: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.firstViewed{
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url("../Assets/images/sfondoHome.webp");
}

.firstViewed .title {
    font-size: 100px;
    line-height: 100px;
}

.firstViewed .textContainer{
    margin-top: 5.8%;
    margin-left: 5.8%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.blog.btn {
    width: 22em;
    height: 5em;
    margin-top: 60px;
}

.blog.btn .image {
    background-image: url("../../src/Assets/images/cerca.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog.btn p{
    margin: 0;
    font-size: 30px;
    margin-top: -45px;
}

.immagineCucina{
    background-image: url("../Assets/images/sfondoSlide3.webp");
}

.prenota{
    justify-content: space-between;
    background-image: url("../Assets/images/sfondo3.webp");
}

.prenota .container{
    height: 100%;
    width: 100%;
}

.prenota .image{
    background-image: url("../Assets/images/immagine1.webp");
    height: 800px;
    width: 800px;
}

.prenota .col1{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prenota .col2{
    flex: 1;
}

.prenota .textContainer{
    width: 820px;
    font-size: 28px;
}

.cards{
    font-size: 28px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}


.cards .title {
    color: #545454;
    font-size: 48px;
    font-weight: bold;
}

.cards .container {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    column-gap: 50px;
    row-gap: 50px;
    width: max-content;
    margin-top: 5em;
}

.cards .card:nth-child(1),
.cards .card:nth-child(3),
.cards .card:nth-child(5){
    background-color: #c2c2c2;
}

.cards .card:nth-child(1):after,
.cards .card:nth-child(3):after,
.cards .card:nth-child(5):after{
    background-color: #7c7976;
}

.adatta .image{
    background-image: url("../Assets/images/check.webp");
    height: 100%;
}

.adatta .row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.adatta .textContainer{
    width: 70%;
    margin-left: -20%;
}

.adatta .col1{
    flex: 1;
    height: 70px;
}
.adatta .col2{
    flex: 3;
}
.immagineBagno{
    background-image: url("../Assets/images/bagno.webp");
}

.block-2{
    background-image: url("../Assets/images/sfondo2.webp");
    font-size: 28px;
}

.block-2 .textContainer {
    width: 46em;
}


.cosaOtterrai{
    font-size: 28px;
    background-image: url("../Assets/images/sfondoCosaOtterrai.webp");
    padding-top: 2em;
    padding-bottom: 5em;
}

.cosaOtterrai .title{
    text-align: center;
    color: #ff1616;
    font-size: 3.5em;
}

.cosaOtterrai .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cosaOtterrai .container>p{
    width: 33.8em;
}


.end {
    background-image: url("../Assets/images/sfondoEnd.webp");
    background-position: top;
    background-repeat: no-repeat;
    font-size: 28px;
    height: 39em;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end .container{
    text-align: center;
    width: 50rem;
    margin-left: -22em;
    font-size: 1.3em;
}
