.card {
  background-color: #ff1616;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  padding: 30px;
  position: relative;
  cursor: pointer;
  flex-direction: column;
}

.cardStyleOpen {
  font-size: 1em;
}

.cardStyleClose {
  font-size: .6em;
}

.card img{
  width: 10em;
  height: auto;
}
